<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
</script>

  </head>

  <body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-static-top navbar-dark bg-inverse">
              <a class="navbar-brand" href="#">Cars</a>
              <ul class="nav navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </nav>
        </div>
    </div>

    
    <div class="container">
      <div class="jumbotron" style="height: 250px;">
        <div class="row">
            <form>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="inputEmail3" class="col-md-2 form-control-label">Year</label>
                <div class="col-md-3">
                  <input type="number" class="form-control" id="year_min" name="year_min" placeholder="Min" min="1900" max="2100" value="{{params.year_min}}">
                </div>
                <label for="inputEmail3" class="col-md-1 form-control-label">To</label>
                <div class="col-md-3">
                  <input type="number" class="form-control" id="year_max" name="year_max" placeholder="Max" min="1900" max="2100" value="{{params.year_max}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputEmail3" class="col-md-2 form-control-label">Price</label>
                <div class="col-md-3">
                  <input type="number" class="form-control" id="inputEmail3" name="price_min" min="0"placeholder="Min" value="{{params.price_min}}">
                </div>
                <label for="inputEmail3" class="col-md-1 form-control-label">To</label>
                <div class="col-md-3">
                  <input type="number" class="form-control" id="inputEmail3" name="price_max" min="0"placeholder="Max" value="{{params.price_max}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputEmail3" class="col-md-2 form-control-label">Mileage</label>
                <div class="col-md-3">
                  <input type="number" class="form-control" id="inputEmail3" name="mileage_min" min="0"placeholder="Min" value="{{params.mileage_min}}">
                </div>
                <label for="inputEmail3" class="col-md-1 form-control-label">To</label>
                <div class="col-md-3">
                  <input type="number" class="form-control" id="inputEmail3" name="mileage_max" min="0"placeholder="Max" value="{{params.mileage_max}}">
                </div>
              </div>
              
            </div> <!--   div col 6  -->

            <div class="col-md-6">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-md-3 form-control-label">Choose Type</label>
                     <select class="c-select" name='body_type'>
                      <option selected value="">Any</option>
                      {% for body_type in body_types %}
                        <option value={{body_type}} {% if body_type == params.body_type %} selected {% endif %}>{{body_type}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-md-3 form-control-label">Choose Make</label>
                     <select class="c-select" name='make'>
                      <option selected value="">Any</option>
                      {% for make in makes %}
                        <option value={{make}} {% if make == params.make %} selected {% endif %}>{{make}}</option>
                      {% endfor %}
                    </select>
                </div>

                  <div class="form-group row">
                    <label for="inputEmail3" class="col-md-2 form-control-label">Page</label>
                    <div class="col-md-3">
                      <input type="number" class="form-control" id="page" name="page" placeholder="page" min="1" value="{{params.page}}">
                    </div>
                    <div class="col-md-3">
                      <button type="submit" value="Submit" class="btn btn-primary">Filter Cars</button>
                    </div>
                  </div>

            </div> <!--   div col 6  -->

            </form>
        </div> <!--   div row  -->
      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% for car in cars %}
            <div class="col-md-4" style="height: 330px;">
                <div class="card">
                  <a href="{{ car.product_url }}">
                    <div class="col-md-12"
                style="background-image: url({{ car.image_url }});background-position: center center; background-size: cover; height: 180px;">
                    </div>
                  </a>
                  <div class="card-block">
                    <div class="col-md-12">
                        </br>
                        <h5 class="card-title">{{ car.title }}</h4>
                    </div>
                    <div class="col-md-6">{{ car.formated_mileage }} miles</div>
                    <div class="col-md-6">${{ car.price|add:"0" }}</div>
                  </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div> <!-- /container -->

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  </body>
</html>